.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.cardsContainer {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr;
  }
}
